{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %}
{{title}}
{% endblock %}
{% block navbar %}
    {% if userLogin %}
        {% include  "includes/navbar-logout.html" %}
    {% else %}
        {% include  "includes/navbar.html" %}
    {% endif %}
{% endblock %}
{% block content %}
<div class="container mt-3">
    {% if userLogin %}
        <h1>Jesteś zalogowany jako {{userLogin}}</h1>
    {% else %}
        <div class="alert alert-warning">
            <a href="/login" class="alert-link">Przejdź do logowania</a>
        </div>
    {% endif %}
</div>
{% endblock %}


